.sec-filtros{
    display: flex;
    margin-top: 16px;
    margin-bottom: -16px;
    width: 100%;
    white-space: nowrap;
    gap: 2.5vw;
     padding: 0 10px;
     box-sizing: border-box;
    justify-content: center;
}

.buttons-filtros{

    width: 100px;
    height: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    min-width: 40px;
    max-width: 80px;
    flex: 0 0 auto;

}
.buttons-filtros p{
    color: #A5A2EC;
    line-height: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.icon-container svg{
    width: 48px;
    height: 48px;

}

.buttons-filtros svg{
    transition: all 0.2s;
}
.buttons-filtros svg g{
    transition: all 0.2s;
}
.buttons-filtros svg path{
    transition: all 0.2s;
}


.buttons-filtros:hover svg g{
    fill: #6634F7;
    cursor: pointer;

}
.buttons-filtros:hover svg {
    fill: #6634F7;
    cursor: pointer;

}

.buttons-filtros:hover svg path{
    fill: #6634F7;
    cursor: pointer;
    background-image: url("");
}

.buttons-filtros:hover p{
    color: #6634F7;
    cursor: pointer;

}

.buttons-filtros:hover{
    border-bottom: 2px solid #6634F7;
    cursor: pointer;
}


.sec-resultados{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.dinamic{

}

@media (max-width: 640px) {
    .sec-filtros {
        overflow-x: auto;
        gap: 22px;
        padding: 4px;
        justify-content: space-between;
        margin-right: 12px;
    }

    .buttons-filtros p {

        font-size: 14px;
    }

    .icon-container svg {
        width: 100%;
    }
    #bath{
        margin-right: 16px;
    }
}