body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  position: relative;
}

h2 {
  font-size: 2rem;
}

header {
  /*estilos sobre navbar booststrap*/
  /*estilos navbar inferior*/
}
header .navbar-personal {
  background-color: #6634F7 !important;
}
header .navbar-personal .navbar-nav .nav-link {
  color: white;
  transition: color 0.3s;
}
header .navbar-personal .navbar-nav .nav-link:hover {
  color: #ccc;
}
header .navbar-personal .navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
}
header .navbar-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100%;
  height: 40px;
  background: #A5A2EC;
  text-align: center;
}
header .navbar-2 .enlaces-principales {
  font-size: 1.3rem;
  font-weight: bold;
  color: #131313;
  text-decoration: none;
  margin-left: 1em;
}
header .navbar-2 .enlaces-principales:hover {
  color: whitesmoke;
  text-shadow: 1px 1px 1px #6634F7;
  transition: color 0.3s;
}

.sec-sup-index {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid #6634F7;
  background-color: whitesmoke;
}
.sec-sup-index #cotenedor-textos-sup-index {
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.sec-sup-index #contenedor-img-sup-index {
  width: 70%;
}
.sec-sup-index #contenedor-img-sup-index img {
  width: 100%;
}

.sec-mid1-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.sec-mid1-index .contenedo-titulos {
  display: flex;
  width: 100%;
  justify-content: center;
}
.sec-mid1-index .container .row .col .card {
  background-color: #A5A2EC;
  color: #ffffff;
  transition: all 0.3s;
}
.sec-mid1-index .container .row .col .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.sec-mid2-index {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sec-mid2-index .contenedo-titulos {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2em;
}
.sec-mid2-index .container .row .col .card {
  background-color: #A5A2EC;
  color: #ffffff;
  transition: all 0.3s;
}
.sec-mid2-index .container .row .col .card .person-image {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: -30px;
}
.sec-mid2-index .container .row .col .card .person-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #6634F7;
  transition: all 0.4s;
}
.sec-mid2-index .container .row .col .card .person-image img:hover {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #6634F7;
}

.row .col-sm-6 .card {
  background-color: #A5A2EC;
  color: #ffffff;
}
.row .col-sm-6 .card .card-body .btn-personal {
  background-color: #6634F7;
  border-radius: 4px;
  border: 2px solid #6634F7;
  font-weight: bold;
  transition: color 0.5s;
}
.row .col-sm-6 .card .card-body .btn-personal:hover {
  background-color: whitesmoke;
  color: #6634F7;
}

footer {
  display: flex;
  background: #6634F7;
  width: 100%;
  height: 7em;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
footer h3 {
  text-shadow: 1px 1px 3px black;
}
footer h4 {
  text-shadow: 1px 1px 3px black;
}
footer .redes {
  margin-left: 4em;
}
footer .redes .iconos-redes {
  width: 2em;
  margin-left: 1.1em;
}
footer .leyenda {
  margin-right: 4em;
  text-align: center;
}

.contenedor-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.contenedor-form .form-registro {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #6634F7;
}
.contenedor-form .form-registro button {
  background-color: #A5A2EC;
  color: white;
  margin-top: 7%;
  border: 2px solid #6634F7;
  border-radius: 5px;
  transition: color 0.3s;
}
.contenedor-form .form-registro button:hover {
  background-color: white;
  color: #6634F7;
  border: 2px solid #6634F7;
  border-radius: 5px;
}
.contenedor-form .form-registro input {
  color: black;
  margin-top: 7%;
  border: 1px solid #6634F7;
  border-radius: 5px;
}
.contenedor-form .form-registro input::placeholder {
  color: black;
  margin-top: 2%;
  padding: 5px;
  text-align: center;
  color: #A5A2EC;
}
.contenedor-form .form-registro a {
  color: #6634F7;
  margin-top: 2%;
  text-decoration: none;
  transition: color 0.3ms;
}
.contenedor-form .form-registro a:hover {
  color: #A5A2EC;
}
.contenedor-form .form-registro h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.contenedor-form .form-registro .contenedor-num {
  margin-top: 7%;
  display: flex;
  height: 40px;
  align-items: center;
  line-height: 1.2rem;
  text-align: center;
  justify-content: space-between;
}
.contenedor-form .form-registro .contenedor-num select {
  width: 20%;
  height: 2.2rem;
  color: #6634F7;
  border-color: #6634F7;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contenedor-form .form-registro .contenedor-num input#telefono {
  width: 75%;
  height: 2.2rem;
  margin: 0;
}
.contenedor-form .form-registro .contenedor-terminos {
  margin-top: 2%;
  margin-bottom: -2%;
}
.contenedor-form .form-registro .contenedor-terminos #aceptoTerminos {
  -webkit-transform: scale(1.5);
  margin-right: 0.5rem;
}

.relleno-chapuzero {
  height: 30em;
}

.sec-nosotros-banner {
  width: 100%;
  text-align: center;
}
.sec-nosotros-banner img {
  width: 100%;
  height: 600px;
}
.sec-nosotros-banner h1 {
  font-size: 3rem;
  color: #6634F7;
  margin-top: -100px;
  text-shadow: 2px 2px 6px white;
}

.sec-mid-nosotros {
  text-align: justify;
  margin-top: 4em;
  margin-right: 4em;
  margin-left: 4em;
}
.sec-mid-nosotros h2 {
  color: #6634F7;
  text-align: center;
}

.sec-inf-nosotros {
  display: flex;
  justify-content: center;
  margin-right: 4em;
  margin-left: 4em;
  gap: 5%;
  text-align: justify;
}
.sec-inf-nosotros h2 {
  color: #6634F7;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
