<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Espacios ofrecidos por personas</title>
    <meta name="description" content="Roommates aplicacion web para conectar personas que arriendan sus espacios con personas que buscan sus espacios, conecta roommates en todo el pais.">
    <meta name="keywords" content="Arriendo de habitaciones, arriendo de apartamentos, arriendo de casas, compañeros de habitacion, compañeros de arriendo, compartir habitacion, compartir arriendo.">
    <meta name="telephone" content="+573202566791">
    <meta name="whatsapp" content="+573202566791">
    <meta name="author" content="Jonhathan Sojo">
    <meta name="geo.placename" content="Bogota">
</head>
<body>
<!--Header y sus dos barras superiores-->
<header>
    <!--Navbar de boostrap-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-personal" data-bs-theme="dark">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="../index.html">Roommates</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="login.html">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registro.html">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar personal-->
    <nav class="navbar-2">
        <div>
            <a href="espacios.html" class="enlaces-principales">Buscar un espacio</a>
            <a href="personas.html" class="enlaces-principales">Buscar un compañero</a>
        </div>
    </nav>
</header>
  <section class="sec-mid1-index">
      <div class="contenedo-titulos">
          <h2>Personas que ofrecen sus espacios y buscan un compañero de cuarto</h2>
      </div>
   <div class="container mt-4">
          <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/casa1.jpg" class="card-img-top img-fluid img-card" alt="casa">
                      <div class="card-body">
                          <h5 class="card-title">Linda casa el norte de Bogota</h5>
                          <h6 class="card-title">1.200.000 COP / Mes</h6>
                          <p class="card-text">Busco un compañero, hombre y que trabaje o estudie</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto1.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Apartamento bien ubicado en Bogota Occidente</h5>
                          <h6 class="card-title">1.600.000 COP / Mes</h6>
                          <p class="card-text">Busco un roomie hombre que trabaje, no se permiten mascotas</p>
                      </div>
                  </div>
              </div>
                  <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto2.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Apto completamente amoblado, Chapinero Bogota</h5>
                          <h6 class="card-title">1.400.000 COP / Mes</h6>
                          <p class="card-text">Solo mujeres sin mascocas ni visitas</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto3.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Lindo Apto en el sur de Medellin</h5>
                          <h6 class="card-title">900.000 COP / Mes</h6>
                          <p class="card-text">Busco roomie mujer que estudie o trabaje</p>
                      </div>
                  </div>
              </div>
               <div class="col">
                  <div class="card h-100">
                      <img src="../img/casa1.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Linda casa el norte de Bogota</h5>
                          <h6 class="card-title">1.200.000 COP / Mes</h6>
                          <p class="card-text">Busco un compañero, hombre y que trabaje o estudie</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto1.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Apartamento bien ubicado en Bogota Occidente</h5>
                          <h6 class="card-title">1.600.000 COP / Mes</h6>
                          <p class="card-text">Busco un roomie hombre que trabaje, no se permiten mascotas</p>
                      </div>
                  </div>
              </div>
                  <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto2.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Apto completamente amoblado, Chapinero Bogota</h5>
                          <h6 class="card-title">1.400.000 COP / Mes</h6>
                          <p class="card-text">Solo mujeres sin mascocas ni visitas</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto3.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Lindo Apto en el sur de Medellin</h5>
                          <h6 class="card-title">900.000 COP / Mes</h6>
                          <p class="card-text">Busco roomie mujer que estudie o trabaje</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/casa1.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Linda casa el norte de Bogota</h5>
                          <h6 class="card-title">1.200.000 COP / Mes</h6>
                          <p class="card-text">Busco un compañero, hombre y que trabaje o estudie</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto1.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Apartamento bien ubicado en Bogota Occidente</h5>
                          <h6 class="card-title">1.600.000 COP / Mes</h6>
                          <p class="card-text">Busco un roomie hombre que trabaje, no se permiten mascotas</p>
                      </div>
                  </div>
              </div>
                  <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto2.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Apto completamente amoblado, Chapinero Bogota</h5>
                          <h6 class="card-title">1.400.000 COP / Mes</h6>
                          <p class="card-text">Solo mujeres sin mascocas ni visitas</p>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="../img/apto3.jpg" class="card-img-top img-fluid img-card" alt="Apartamento">
                      <div class="card-body">
                          <h5 class="card-title">Lindo Apto en el sur de Medellin</h5>
                          <h6 class="card-title">900.000 COP / Mes</h6>
                          <p class="card-text">Busco roomie mujer que estudie o trabaje</p>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </section>

<footer>
    <div class="redes">
        <h3>Nuestras redes</h3>
        <div class="contenedor-img-redes">
            <img src="../img/instagram-icon.png" alt="instagram icono" class="iconos-redes">
            <img src="../img/facebook-icon.png" alt="facebook icono" class="iconos-redes">
            <img src="../img/linkeding-icon.png" alt="linkedin icono" class="iconos-redes">
        </div>
    </div>
    <div class="leyenda">

        <h4>Diseño y desarrollo por: Jonhathan Sojo<br>
            © Todos los derechos reservados
        </h4>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">

</script>
<script src="../scripts/mockup.js"></script>
<script src="../scripts/search_filters.js"></script>
</body>
</html>