<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Personas que buscan un espacio</title>
</head>
<body>
<!--Header y sus dos barras superiores-->
<header>
    <!--Navbar de boostrap-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-personal" data-bs-theme="dark">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="../index.html">Roommates</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="login.html">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registro.html">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar personal-->
    <nav class="navbar-2">
        <div>
            <a href="espacios.html" class="enlaces-principales">Buscar un espacio</a>
            <a href="personas.html" class="enlaces-principales">Buscar un compañero</a>
        </div>
    </nav>
</header>


<section class="contenedor-form">

     <form class="form-registro">
          <h4>Ingresa tus datos para registrarte</h4>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo electronico" required>
        <div class="contenedor-num">
            <select id="codigoPais" name="codigoPais" required>
                <option value="+57">+57</option>
                <option value="+58">+58</option>
                <option value="+1">+1</option>
            </select>

            <input type="tel" id="telefono" name="telefono" placeholder="Numero celular" required>
        </div>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>

        <input type="password" id="confirmPassword" name="confirmPassword"  placeholder="Confirma tu contraseña" required>
        <div class="contenedor-terminos">
            <input type="checkbox" id="aceptoTerminos" name="aceptoTerminos" required>
            <label for="aceptoTerminos">Acepto los términos y condiciones</label>
        </div>

        <button type="submit">Continuar</button>
         <a href="login.html"><h6> ¿Ya tienes cuenta? Inicia sesion</h6></a>
    </form>
</section>
<div class="relleno-chapuzero"></div>
<footer>
    <div class="redes">
        <h3>Nuestras redes</h3>
        <div>
            <img src="../img/instagram-icon.png" alt="instagram icono" class="iconos-redes">
            <img src="../img/facebook-icon.png" alt="facebook icono" class="iconos-redes">
            <img src="../img/linkeding-icon.png" alt="linkedin icono" class="iconos-redes">
        </div>
    </div>
    <div class="leyenda">

        <h4>Diseño y desarrollo por: Jonhathan Sojo<br>
            © Todos los derechos reservados
        </h4>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>