.sec-mid1-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  .contenedo-titulos {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .container {
    .row {
      .col {
        .card {
          background-color: #A5A2EC;
          color: #ffffff;
          transition: all 0.3s;
        }
        .card:hover{
          transform: translateY(-15px);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.sec-mid2-index {
  width: 100%;
  display: flex;
  flex-direction: column;

  .contenedo-titulos {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
  }

  .container {
    .row {
      .col {
        .card {
          background-color: #A5A2EC;
          color: #ffffff;
          transition: all 0.3s;

          .person-image {
            display: flex;
            justify-content: center;
            justify-content: center;
            align-items: flex-start;
            margin-top: -30px;


            img {
              width: 200px;
              height: 200px;
              object-fit: cover;
              border: 3px solid #6634F7;
              transition: all 0.4s;
            }
              img:hover {
              width: 250px;
              height: 250px;
              object-fit: cover;
              border: 3px solid #6634F7;
            }
          }
        }
      }
    }
  }
}